:root {
  --cf-primary-color: #fd6e0a;
  --colorFont: #15295f;
}
.HeaderContent {
    text-align: center;
}
.HeaderP .HeaderP-P {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.3;
  color: var(--cf-primary-color);
}
.HeaderH .HeaderH-H {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  text-transform: capitalize;
  color: var(--colorFont);
}
